body {
    padding: 50px;
    font-family: "HelveticaNeueLT Std","Helvetica LT Std Light", "Helvetica", "Arial", "sans-serif";
}

#plot1, #plot2, #plot3 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

#plot2 canvas, #plot3 canvas  {
    display: block;
    width: 100%;
    height: 100%;
}

.col-md-12 {
    text-align: center;
}

h2.col-md-12 {
    opacity: 0.54;
    margin: 40px 0;
}

h1.col-md-12 {
    font-weight: 600;
    margin-bottom: 30px;
}

.row {
    position: relative;
}

img {
   height: 300px;
    margin: 30px auto;
}

p {
    display: block;
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0,0,0,0.87);
}